<div class="home-container">
  <h1>Learnio!<h1>
   </div class="breakout-headers">
      <ul class="breakout-list">
      </ul>
    </div>
  <div class="loose-tips-container tips-container">
    <ul class="loose-tips tips">

    </ul>
</div>
  <div class="breakout-container">
<!--     <div class="breakout-columns tips-container">
      <ul class="tips">
      </ul>
    </div>

    <div class="breakout-columns tips-container">
      <ul class="tips">
      </ul>
    </div>

    <div class="breakout-columns tips-container">
      <ul class="tips">
      </ul>
    </div> -->
  </div>
</div>

