<div class="home-container">
  <h1>Learnio!<h1>
  <div class="loose-tips-header"
  </div>

  </div class="breakout-headers">
    <ul class="breakout-list">
    </ul>
  </div>

  <div class="loose-tips-container tips-container">
    <ul class="loose-tips tips">

    </ul>
  </div>
  <div class="breakout-container">

  </div>
</div>

